In [341]:
import pandas as pd

In [342]:
customers_upd=pd.read_csv(r"C:\Users\Poojitha\Downloads\us_customer_data 1.csv")

In [343]:
print(customers_upd.head());
print(customers_upd.info());
customers_upd.columns
customers_upd.shape
customers_upd.isnull().sum()

   customer_id              name                        email         phone  \
0            1     Michelle Kidd           vayala@example.net  619-723-4258
1            2       Brad Newton  taylorcatherine@example.net  537-674-1158
2            3      Larry Torres         dsanchez@example.net  810-256-4505
3            4    Kimberly Price    jessicaknight@example.com  423-222-9779
4            5  Matthew Phillips        qwilliams@example.com  220-763-3522

                                             address registration_date  \
0                        USNS Santiago, FPO AE 80872        25-01-2025
1  38783 Oliver Street, West Kristenborough, MT 9...        13-07-2023
2     6845 Steele Turnpike, West Erikabury, UT 37487        18-08-2023
3         1631 Alexis Meadows, Lake Amanda, CA 75179        08-12-2024
4  2274 Williams Heights Suite 895, Andersonhaven...        03-02-2024

  loyalty_status
0           Gold
1         Silver
2         Bronze
3           Gold
4           Gold
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB
None

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [344]:
customers_upd.head(50)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
5,6,Darrell Gallagher DVM,larryharris@example.org,379-950-3695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze
6,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold
7,8,Melissa Galloway MD,watsonbenjamin@example.net,548-549-9586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",06-10-2023,Bronze
8,9,Matthew Harvey,bgaines@example.net,581-144-7338,"60123 Davis Ford, Mistychester, WA 69400",31-10-2024,Silver
9,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze
10,11,Nicole Yang,archerheather@example.org,589-638-7173,"923 Emily Mills Apt. 281, Port Roy, WI 03921",08-03-2025,Bronze
11,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze
12,13,Joseph Brennan,khernandez@example.com,486-789-1647,"8890 Keller Hills, North Paul, FM 64749",28-04-2024,Gold
13,14,Eric Thomas,spencer75@example.com,434-130-5478,"352 Joel Extension Suite 962, New Anthony, CO ...",09-05-2024,Bronze
14,15,Laura Perez,sdavid@example.com,319-310-5560,"1518 Green Locks Suite 348, New Brent, FM 51849",04-12-2024,Gold
15,16,Erin Matthews,uhunter@example.net,480-780-3711,"67623 Morgan Hollow, Hillshire, IL 78665",12-11-2023,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,411-857-4974,"USNS Austin, FPO AP 52643",24-06-2024,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,687-543-7471,"3112 Lydia Freeway Suite 927, South Susan, RI ...",27-01-2025,Gold
18,19,David Johnson,marynelson@example.org,244-439-2274,"992 Harris Pines Suite 049, North Marychester,...",21-02-2025,Silver
19,20,Wayne Morales,qwilliams@example.com,875-559-3832,"15344 Hill Pike, Matthewport, FL 45434",22-02-2025,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,685-935-4111,"455 Moore Orchard, New Richardhaven, RI 42023",13-06-2024,Silver
21,22,Tammie Mcgee,nsullivan@example.com,176-840-2659,"6371 Long Path Apt. 940, South Anthonyton, MT ...",24-10-2024,Silver
22,23,Marisa Martinez,zward@example.org,221-609-1291,"5029 Wall Mountain Suite 847, New Chelseabury,...",29-03-2025,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,430-711-1833,"Unit 5741 Box 1124, DPO AA 18219",07-08-2023,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,119-969-9309,"1520 Reid Turnpike, Clarkville, CA 39102",13-06-2025,Silver
25,26,James Graham,chawkins@example.net,997-656-7695,"2809 Young Squares, Lisaside, VA 53732",10-03-2024,Gold
26,27,William Morrison,browningdavid@example.org,486-676-8923,"76577 Keith Falls, West Melissashire, NC 55275",01-08-2024,Gold
27,28,Brandon Hall,NaN,974-123-3048,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",07-04-2024,Gold
28,29,Morgan Wilson,michelle12@example.net,258-480-2466,"05880 Hudson Row, Jessefurt, KS 54128",04-11-2024,Silver
29,30,Heather Hill,qwillis@example.com,442-456-8115,"4339 Brown Crescent, Lambchester, SD 62832",15-12-2024,Silver
30,31,Louis Beasley,bjones@example.net,234-311-3270,"71975 Smith Drive Suite 746, Bairdmouth, MP 70886",18-09-2023,Bronze
31,32,Julie Shelton,ryanpatel@example.net,307-103-5146,"USNS Brown, FPO AP 55711",02-12-2024,Gold
32,33,Erin Stephens,kyle83@example.com,649-443-8577,"5911 Amy Creek Suite 329, Michaelside, CO 25722",02-08-2024,Silver
33,34,Christopher Powers,nsimmons@example.com,341-277-2276,"27599 David Mews, Juliefort, AL 92098",09-06-2024,Silver
34,35,Rachel Lang,huntcourtney@example.org,343-776-8211,"PSC 5662, Box 7419, APO AA 70596",13-11-2024,Silver
35,36,Christopher Clark,NaN,119-609-3438,"2325 Danielle Knolls Suite 719, Gabrielleview,...",13-01-2024,Gold
36,37,Jessica Hardy,cherylray@example.org,244-875-7801,"8293 Martin Ridges Apt. 444, Lake Erikfort, MH...",13-08-2024,Gold
37,38,Paul Collins,brittanychase@example.com,995-820-7641,"895 Anthony Lodge Suite 819, North Cassandra, ...",05-07-2024,Bronze
38,39,Lauren Fisher,wesley32@example.net,469-507-3423,"9633 Victoria Loop Apt. 271, Hannahside, MS 96656",14-06-2025,Gold
39,40,Amy Gates,jesse14@example.org,872-198-3028,"69324 Jennifer Plaza Apt. 905, Haroldview, MD ...",24-11-2024,Gold
40,41,Breanna Elliott,mark59@example.net,984-532-9433,"29664 Lauren Mountain Apt. 243, West Mary, NV ...",19-11-2024,Silver
41,42,Mr. Andrew Austin,heather79@example.com,778-918-1895,"200 Thomas Flat, South James, MP 96716",12-06-2025,Gold
42,43,Kelsey Young,mckeeconnie@example.org,219-420-1723,"8806 Davis Fall Suite 188, East Brenda, WI 95051",04-12-2024,Gold
43,44,Travis Neal,stewartkeith@example.org,118-105-7470,"1024 Cynthia Way, East Christina, HI 44699",13-01-2025,Bronze
44,45,Gordon Logan,robert26@example.org,306-549-7811,"8399 Christopher Cliff Suite 911, Joshuashire,...",24-06-2023,Silver
45,46,Felicia Noble,taylorcatherine@example.net,128-910-3340,"Unit 7244 Box 4360, DPO AP 11537",23-10-2023,Gold
46,47,Robin Hill,brownselena@example.net,966-751-9199,"93477 Jose Ville Suite 818, Bethanyton, GA 79420",22-04-2024,Silver
47,48,Julie Hardy,robert73@example.net,437-418-2029,"167 Lisa Orchard Suite 613, Meredithport, MT 2...",03-12-2023,Gold
48,49,Kevin Smith,joannewolfe@example.net,207-565-1691,"346 Hill Meadow Suite 327, Port Kari, MP 75439",17-08-2023,Bronze
49,50,Valerie Lee,jason40@example.org,406-388-6679,"805 Silva Alley Suite 967, Kennethstad, ND 46111",06-04-2025,Gold

In [345]:
customers_upd['email']=customers_upd['email'].fillna(customers_upd['name'].str.replace(' ','').str.lower()+'@example.com')

In [346]:
customers_upd.head(50)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
5,6,Darrell Gallagher DVM,larryharris@example.org,379-950-3695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze
6,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold
7,8,Melissa Galloway MD,watsonbenjamin@example.net,548-549-9586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",06-10-2023,Bronze
8,9,Matthew Harvey,bgaines@example.net,581-144-7338,"60123 Davis Ford, Mistychester, WA 69400",31-10-2024,Silver
9,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze
10,11,Nicole Yang,archerheather@example.org,589-638-7173,"923 Emily Mills Apt. 281, Port Roy, WI 03921",08-03-2025,Bronze
11,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze
12,13,Joseph Brennan,khernandez@example.com,486-789-1647,"8890 Keller Hills, North Paul, FM 64749",28-04-2024,Gold
13,14,Eric Thomas,spencer75@example.com,434-130-5478,"352 Joel Extension Suite 962, New Anthony, CO ...",09-05-2024,Bronze
14,15,Laura Perez,sdavid@example.com,319-310-5560,"1518 Green Locks Suite 348, New Brent, FM 51849",04-12-2024,Gold
15,16,Erin Matthews,uhunter@example.net,480-780-3711,"67623 Morgan Hollow, Hillshire, IL 78665",12-11-2023,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,411-857-4974,"USNS Austin, FPO AP 52643",24-06-2024,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,687-543-7471,"3112 Lydia Freeway Suite 927, South Susan, RI ...",27-01-2025,Gold
18,19,David Johnson,marynelson@example.org,244-439-2274,"992 Harris Pines Suite 049, North Marychester,...",21-02-2025,Silver
19,20,Wayne Morales,qwilliams@example.com,875-559-3832,"15344 Hill Pike, Matthewport, FL 45434",22-02-2025,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,685-935-4111,"455 Moore Orchard, New Richardhaven, RI 42023",13-06-2024,Silver
21,22,Tammie Mcgee,nsullivan@example.com,176-840-2659,"6371 Long Path Apt. 940, South Anthonyton, MT ...",24-10-2024,Silver
22,23,Marisa Martinez,zward@example.org,221-609-1291,"5029 Wall Mountain Suite 847, New Chelseabury,...",29-03-2025,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,430-711-1833,"Unit 5741 Box 1124, DPO AA 18219",07-08-2023,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,119-969-9309,"1520 Reid Turnpike, Clarkville, CA 39102",13-06-2025,Silver
25,26,James Graham,chawkins@example.net,997-656-7695,"2809 Young Squares, Lisaside, VA 53732",10-03-2024,Gold
26,27,William Morrison,browningdavid@example.org,486-676-8923,"76577 Keith Falls, West Melissashire, NC 55275",01-08-2024,Gold
27,28,Brandon Hall,brandonhall@example.com,974-123-3048,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",07-04-2024,Gold
28,29,Morgan Wilson,michelle12@example.net,258-480-2466,"05880 Hudson Row, Jessefurt, KS 54128",04-11-2024,Silver
29,30,Heather Hill,qwillis@example.com,442-456-8115,"4339 Brown Crescent, Lambchester, SD 62832",15-12-2024,Silver
30,31,Louis Beasley,bjones@example.net,234-311-3270,"71975 Smith Drive Suite 746, Bairdmouth, MP 70886",18-09-2023,Bronze
31,32,Julie Shelton,ryanpatel@example.net,307-103-5146,"USNS Brown, FPO AP 55711",02-12-2024,Gold
32,33,Erin Stephens,kyle83@example.com,649-443-8577,"5911 Amy Creek Suite 329, Michaelside, CO 25722",02-08-2024,Silver
33,34,Christopher Powers,nsimmons@example.com,341-277-2276,"27599 David Mews, Juliefort, AL 92098",09-06-2024,Silver
34,35,Rachel Lang,huntcourtney@example.org,343-776-8211,"PSC 5662, Box 7419, APO AA 70596",13-11-2024,Silver
35,36,Christopher Clark,christopherclark@example.com,119-609-3438,"2325 Danielle Knolls Suite 719, Gabrielleview,...",13-01-2024,Gold
36,37,Jessica Hardy,cherylray@example.org,244-875-7801,"8293 Martin Ridges Apt. 444, Lake Erikfort, MH...",13-08-2024,Gold
37,38,Paul Collins,brittanychase@example.com,995-820-7641,"895 Anthony Lodge Suite 819, North Cassandra, ...",05-07-2024,Bronze
38,39,Lauren Fisher,wesley32@example.net,469-507-3423,"9633 Victoria Loop Apt. 271, Hannahside, MS 96656",14-06-2025,Gold
39,40,Amy Gates,jesse14@example.org,872-198-3028,"69324 Jennifer Plaza Apt. 905, Haroldview, MD ...",24-11-2024,Gold
40,41,Breanna Elliott,mark59@example.net,984-532-9433,"29664 Lauren Mountain Apt. 243, West Mary, NV ...",19-11-2024,Silver
41,42,Mr. Andrew Austin,heather79@example.com,778-918-1895,"200 Thomas Flat, South James, MP 96716",12-06-2025,Gold
42,43,Kelsey Young,mckeeconnie@example.org,219-420-1723,"8806 Davis Fall Suite 188, East Brenda, WI 95051",04-12-2024,Gold
43,44,Travis Neal,stewartkeith@example.org,118-105-7470,"1024 Cynthia Way, East Christina, HI 44699",13-01-2025,Bronze
44,45,Gordon Logan,robert26@example.org,306-549-7811,"8399 Christopher Cliff Suite 911, Joshuashire,...",24-06-2023,Silver
45,46,Felicia Noble,taylorcatherine@example.net,128-910-3340,"Unit 7244 Box 4360, DPO AP 11537",23-10-2023,Gold
46,47,Robin Hill,brownselena@example.net,966-751-9199,"93477 Jose Ville Suite 818, Bethanyton, GA 79420",22-04-2024,Silver
47,48,Julie Hardy,robert73@example.net,437-418-2029,"167 Lisa Orchard Suite 613, Meredithport, MT 2...",03-12-2023,Gold
48,49,Kevin Smith,joannewolfe@example.net,207-565-1691,"346 Hill Meadow Suite 327, Port Kari, MP 75439",17-08-2023,Bronze
49,50,Valerie Lee,jason40@example.org,406-388-6679,"805 Silva Alley Suite 967, Kennethstad, ND 46111",06-04-2025,Gold

In [347]:
customers_upd.isna().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [348]:
customers_upd['phone'] =customers_upd['phone'].str.replace(r'[^0-9]','',regex=True)

In [349]:
customers_upd.head(250)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
...,...,...,...,...,...,...,...
245,246,Charles Graham,kennethmoore@example.net,8557356873,"6121 Wright Underpass, South Toddbury, CO 11795",27-04-2024,Silver
246,247,Connie Alexander,richarderic@example.org,2145344044,"2846 Rogers Forks Suite 077, Rosariobury, NH 1...",02-12-2023,Gold
247,248,Emily Jackson,jchristian@example.net,9198655309,"8533 George Plains, Port John, GA 74711",13-04-2025,Gold
248,249,Vanessa Gould,meyerelizabeth@example.net,1056886071,"95954 Berry Isle Apt. 662, Bryantmouth, MI 93777",04-01-2025,Gold
249,250,Jeffrey Rogers,omar69@example.net,9474465448,"1978 Barnes Turnpike, Lake Kaylaborough, VA 69787",10-02-2025,Gold

In [350]:
customers_upd.loc[525]#just 9 numbers in phn_no

customer_id                                                 526
name                                             Cristina Blake
email                                         wwebb@example.org
phone                                                 966258031
address              748 Colleen Circles, Maynardtown, NH 62583
registration_date                                    04-06-2025
loyalty_status                                           Silver
Name: 525, dtype: object

In [351]:
customers_upd.loc[289]#its got 12 numbers in phn_no

customer_id                                                 290
name                                                Tony Barnes
email                                      daniel85@example.com
phone                                              309515738521
address              162 Jeffrey Rapids, Lindsaymouth, OH 43140
registration_date                                    19-09-2024
loyalty_status                                             Gold
Name: 289, dtype: object

In [352]:
customers_upd['phone']=customers_upd['phone'].str[:10]

In [353]:
customers_upd['phone'] =customers_upd['phone'].fillna('xxx-xxx-xxxx')

In [354]:
customers_upd.loc[customers_upd['phone'].str.len()<10,'phone']='xxx-xxx-xxxx'
customers_upd['registration_date'] = pd.to_datetime(customers_upd['registration_date'], dayfirst=True, errors='coerce')

In [355]:
customers_upd.to_csv('final_cust_data.csv', index=False)

In [356]:
customers_upd

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [357]:
customers_upd

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [358]:
customers_upd.loc[customers_upd['phone'].str.len()<10,'phone']='xxx-xxx-xxxx'

In [359]:
transaction_table=pd.read_csv(r"C:\Users\Poojitha\Downloads\transaction_data.csv")

In [360]:
transaction_table

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
0,1,565,2992.47,2025-03-10 01:20:54,Sports,Debit Card,New York
1,2,323,2041.87,2025-01-02 15:24:19,Clothing,Cash,New York
2,3,398,107.35,2025-02-16 03:49:01,Beauty,Debit Card,Online
3,4,19,NaN,2025-04-30 15:26:23,Sports,Debit Card,Los Angeles
4,5,547,3063.28,2025-06-14 04:28:53,Clothing,PayPal,Los Angeles
...,...,...,...,...,...,...,...
995,996,60,712.47,2025-01-13 14:16:32,Electronics,Debit Card,New York
996,997,235,2125.18,2025-06-09 12:37:36,Electronics,PayPal,Chicago
997,998,669,3069.08,2025-04-01 19:59:01,Home,PayPal,Los Angeles
998,999,931,2262.75,2025-06-08 01:36:01,Clothing,Debit Card,Online
999,1000,925,4141.44,2025-05-24 13:39:19,Electronics,PayPal,Online

In [361]:
merged_table=pd.merge(customers_upd,transaction_table,on="customer_id",how="inner")

In [362]:
merged_table

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470,3241.66,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
4,7,Louis Miller,patriciaelliott@example.org,1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,857,697.57,2025-06-13 12:03:42,Beauty,Debit Card,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,532,759.38,2025-03-14 16:56:22,Home,PayPal,New York
996,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,617,821.18,2025-01-23 07:39:19,Electronics,Debit Card,Miami
997,997,Jodi Simpson,eric24@example.org,4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
998,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
999,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online

In [363]:
merged_table.isnull().sum()

customer_id           0
name                  0
email                 0
phone                 0
address               0
registration_date     0
loyalty_status        0
transaction_id        0
amount               50
transaction_date      0
product_category      0
payment_method        0
store_location        0
dtype: int64

In [364]:
merged_table['amount']=merged_table['amount'].fillna(merged_table['amount'].mean())

In [365]:
merged_table.isnull().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
transaction_id       0
amount               0
transaction_date     0
product_category     0
payment_method       0
store_location       0
dtype: int64

In [366]:
merged_table

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8,2652.570000,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427,1787.090000,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452,1983.520000,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470,3241.660000,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
4,7,Louis Miller,patriciaelliott@example.org,1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,857,697.570000,2025-06-13 12:03:42,Beauty,Debit Card,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,532,759.380000,2025-03-14 16:56:22,Home,PayPal,New York
996,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,617,821.180000,2025-01-23 07:39:19,Electronics,Debit Card,Miami
997,997,Jodi Simpson,eric24@example.org,4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45,480.640000,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
998,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304,73.710000,2025-01-27 05:33:22,Home,Debit Card,Chicago
999,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886,2532.550126,2025-03-16 15:42:17,Beauty,Debit Card,Online

In [367]:
high_value_transactions=merged_table[merged_table['amount']>1000]

In [368]:
high_value_transactions

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8,2652.570000,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427,1787.090000,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452,1983.520000,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470,3241.660000,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
6,10,Rachel White,whitemichael@example.org,4107299740,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,173,3456.050000,2025-04-15 19:26:48,Home,Debit Card,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,991,Erica Fleming,erica85@example.net,6264536078,"55648 Gilbert Square, Port Jessica, OR 63566",2025-01-21,Silver,808,2781.520000,2025-05-14 07:30:24,Clothing,Credit Card,Los Angeles
992,992,Thomas Stevens,vargasmatthew@example.org,3854544879,"8783 Joseph Stravenue Suite 016, Port Gabriell...",2024-06-25,Silver,352,3691.140000,2025-02-12 08:40:27,Sports,Debit Card,New York
993,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,62,4299.690000,2025-01-04 19:54:59,Electronics,Debit Card,New York
994,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,129,4653.240000,2025-04-25 23:19:54,Beauty,Cash,Chicago
999,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886,2532.550126,2025-03-16 15:42:17,Beauty,Debit Card,Online

In [369]:
high_value_transactions.to_csv("high_value_tran.csv",index=False)

In [370]:
high_value_transactions

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8,2652.570000,2025-04-19 14:46:00,Home,Credit Card,New York
1,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427,1787.090000,2025-04-28 04:34:07,Beauty,PayPal,Chicago
2,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452,1983.520000,2025-02-03 14:59:13,Sports,PayPal,Online
3,7,Louis Miller,patriciaelliott@example.org,1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470,3241.660000,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
6,10,Rachel White,whitemichael@example.org,4107299740,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,173,3456.050000,2025-04-15 19:26:48,Home,Debit Card,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,991,Erica Fleming,erica85@example.net,6264536078,"55648 Gilbert Square, Port Jessica, OR 63566",2025-01-21,Silver,808,2781.520000,2025-05-14 07:30:24,Clothing,Credit Card,Los Angeles
992,992,Thomas Stevens,vargasmatthew@example.org,3854544879,"8783 Joseph Stravenue Suite 016, Port Gabriell...",2024-06-25,Silver,352,3691.140000,2025-02-12 08:40:27,Sports,Debit Card,New York
993,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,62,4299.690000,2025-01-04 19:54:59,Electronics,Debit Card,New York
994,995,Deanna Johnson,ycook@example.org,5763204824,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,129,4653.240000,2025-04-25 23:19:54,Beauty,Cash,Chicago
999,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886,2532.550126,2025-03-16 15:42:17,Beauty,Debit Card,Online