In [58]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\poojitha\documents\python_tutorial\myenv\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [59]:
import pyodbc as pyd

In [60]:
server = 'DESKTOP-PEDTNCH\MSSQLSERVER1'
database = 'CustomersnOrders'
username = 'sa'
password = '1234'
driver = 'SQL SERVER'

In [61]:
connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}'

In [62]:
#connecting db
conn = pyd.connect(connection_string)

In [63]:
#create cursor
cur = conn.cursor()

In [64]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\poojitha\documents\python_tutorial\myenv\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\poojitha\documents\python_tutorial\myenv\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\poojitha\documents\python_tutorial\myenv\lib\site-packages (from sqlalchemy) (4.14.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [65]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
cs = pd.read_csv(r"C:\Users\Poojitha\Documents\python_tutorial\final_cust_data.csv")
#cs-from csv loading to dataframe(vs code) and then storing it into the sql server

In [67]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
import pandas as pd

connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password="1234",
    host="DESKTOP-PEDTNCH\MSSQLSERVER1",
    database="CustomersnOrders",
    query={
        "driver": "ODBC Driver 17 for SQL Server",
        "TrustServerCertificate": "yes"
    }
)

In [68]:
engine = create_engine(connection_url)

In [ ]:
# push to sql

cs.to_sql("customers", con=engine, if_exists="replace", index=False);

print("Data inserted successfully!")

Data inserted successfully!

In [ ]:
# query
query = """
SELECT
   *
FROM customers;
"""


css = pd.read_sql(query, con=engine)
#css-from sql server to the dataframe(vs code) 

# preview
print(css.head())

   customer_id              name                        email       phone  \
0            1     Michelle Kidd           vayala@example.net  6197234258
1            2       Brad Newton  taylorcatherine@example.net  5376741158
2            3      Larry Torres         dsanchez@example.net  8102564505
3            4    Kimberly Price    jessicaknight@example.com  4232229779
4            5  Matthew Phillips        qwilliams@example.com  2207633522

                                             address registration_date  \
0                        USNS Santiago, FPO AE 80872        2025-01-25
1  38783 Oliver Street, West Kristenborough, MT 9...        2023-07-13
2     6845 Steele Turnpike, West Erikabury, UT 37487        2023-08-18
3         1631 Alexis Meadows, Lake Amanda, CA 75179        2024-12-08
4  2274 Williams Heights Suite 895, Andersonhaven...        2024-02-03

  loyalty_status
0           Gold
1         Silver
2         Bronze
3           Gold
4           Gold

In [71]:
css['name'] = css['name'].str.replace(r'^(Mr\.|Mrs\.|Miss|Ms\.|Dr\.)\s*', '', regex=True)
css['name'] = css['name'].str.replace(r'\s*(Jr\.|Sr\.|II|III|DDS|PhD|MD|MBA|Esq\.?)$', '', regex=True)

In [72]:
css

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [73]:
css[['first_name', 'last_name']] = css['name'].str.strip().str.split(' ', n=1, expand=True)
print(css[['first_name', 'last_name']])

    first_name last_name
0     Michelle      Kidd
1         Brad    Newton
2        Larry    Torres
3     Kimberly     Price
4      Matthew  Phillips
..         ...       ...
995      Jerry  Mcdaniel
996       Jodi   Simpson
997    Crystal     Brown
998    Gregory    Duarte
999      Jason     Walls

[1000 rows x 2 columns]

In [74]:
css

,customer_id,name,email,phone,address,registration_date,loyalty_status,first_name,last_name
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,Michelle,Kidd
1,2,Brad Newton,taylorcatherine@example.net,5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,Brad,Newton
2,3,Larry Torres,dsanchez@example.net,8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,Larry,Torres
3,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,Kimberly,Price
4,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,Matthew,Phillips
...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,Jerry,Mcdaniel
996,997,Jodi Simpson,eric24@example.org,4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,Jodi,Simpson
997,998,Crystal Brown,pshaffer@example.net,3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,Crystal,Brown
998,999,Gregory Duarte,caitlindunlap@example.org,2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,Gregory,Duarte
999,1000,Jason Walls,michael42@example.com,6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,Jason,Walls

In [76]:
cc = pd.read_excel(r"C:\Users\Poojitha\Downloads\Country-codes.xls")#cc-country codes

In [77]:
# Push to SQL Server

cc.to_sql("country_codes", con=engine, if_exists="replace", index=False);

print("Data inserted successfully!")

Data inserted successfully!

In [78]:
# query
queryy = """
SELECT
   *
FROM country_codes;
"""


ccc = pd.read_sql(queryy, con=engine)

# preview
print(ccc.head())

          Country Country_code International_dialing
0               A         None                  None
1    Afghanistan            AF                   +93
2        Albania            AL                  +355
3        Algeria            DZ                  +213
4  American Samoa           AS                +1-684

In [79]:
css['country_code'] = css['address'].str.slice(-8, -6)

In [80]:
css['country_code']

0      AE
1      MT
2      UT
3      CA
4      OR
       ..
995    AS
996    AL
997    DE
998    AP
999    MH
Name: country_code, Length: 1000, dtype: object

In [ ]:
customerdata['phone'] = customerdata['phone'].astype(str)

In [ ]:
for i in range(len(customerdata)):
    code = customerdata.loc[i, 'country_code']
    for j in range(len(countrycodes)):
        if code == countrycodes.loc[j, 'Country_code']:
            dial = countrycodes.loc[j, 'International_dialing']
            customerdata.loc[i, 'phone'] = (str(dial) + " "+ customerdata.loc[i, 'phone'])
customerdata